<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/charrua</property>
    <property name="hibernate.connection.username">charrua</property>
    <property name="hibernate.connection.password">charrua</property>
    <mapping class="com.charrua.hibernate.Alumno" file="" jar="" package="" resource=""/>
    <mapping class="com.charrua.hibernate.Carrera"/>
    <mapping class="com.charrua.hibernate.Horario"/>
    <mapping class="com.charrua.hibernate.Materia"/>
    <mapping class="com.charrua.hibernate.Profesor"/>
    <mapping class="com.charrua.hibernate.TipoProfesor"/>
    <mapping class="com.charrua.hibernate.Usuario"/>
  </session-factory>
</hibernate-configuration>
